/* @import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');


* {
  font-family: 'IM Fell English', serif;
}

body,
html {
  background-color: black;
  color: #FFFEF2;
  font-size: large;
  letter-spacing: 1px;
}

  body,
  input, 
  select, 
  textarea { 
    font-family: 'IM Fell English', serif;
    font-size: large;
    letter-spacing: 1px;
  }



  body,
	.basket section .confirm .column input,
	.basket section .confirm .column select,
  header a img,
	header menu .types select,
  section article .image,
  .basket section .prices,
  .basket section .options { 
    background-color: #00000;
  }


      #wrap {
      border: 1px solid #ffffff;
    }
  

header menu .types select {
    color: black;
}

  body, 
  h1,
  h2,
  .basket section .wide h3,
  .basket section .options .quantity strong,
  .basket section .options .size strong,
  .basket section .options .price,
  .basket section .buttons .price,
  .basket section .buttons .price .total strong,
  .basket section .confirm .column input:focus, 
  .basket section .confirm select:focus,
  .basket section .confirm .column label,
  .basket section .inside h3,
  .basket section .payment-options-zone h3,
  .basket section .inside section article ul li,
  .basket .left-confirm h4,
  .basket .left-confirm div strong,
  .basket .right-confirm ul li.heading,
  .basket section .price .options .remove,
	.basket section .buttons input,
	.basket section .confirm .small-txt,
  .basket section .wide p

  .paging ul li {
    color: #ffffff;
  }

  
  header a.home {
    background: url(/share/images/site/embed/sprite-ffffff.png) 0 4px no-repeat; text-transform: uppercase;
  }

  section article .options .size span a,
  section article .options .quantity span a,
  .basket section .options .quantity span a,
  .basket section .options .size span a {
    background: url(/share/images/site/embed/sprite-ffffff.png) 0 -65px no-repeat;
  }



  a,
  section article h3 a,
  .basket section .confirm .column input:focus, 
  .basket section .confirm select:focus,
  .paging ul li a {
    color: #ffffff;
    font-size: 16px;
}

a:hover {
    background-color: #ff0000;
}



  section article .image,
	section article h3,
  section article form,
  section article .options .color select,
  section article .options .color select option,
  section article .options .quantity input,
  section article .options .size select,
  .basket section .options .quantity input,
  .basket section .options .size select,
  .basket section .wide img,
  .basket section .inside section article img,
  .basket section .prices .wrapper,
  .basket section .price .options .remove,
	.basket section .payment-options-zone input[type=radio]:checked + label,
	.basket section #card-details,
	.basket section .buttons input.continue,
	.basket section .buttons input.cancel {
    background-color: #808080;
  }

	.basket section .buttons .cancel:hover,
	.basket section .buttons .continue:hover,
	.basket section .price .options .remove:hover {
		color: #808080;
	}


  
	section article h3,
  section article .price-and-action .price,
  section article .options .color select,
  section article .options .color select option,
  section article .options .quantity strong,
  section article .options .size strong,
  section article .options .quantity input,
  section article .options .size input,
  section article .options .size select,
  .basket section .options .quantity input,
  .basket section .options .size select,
  .basket section .buttons .price strong,
	.basket section .prices .wrapper,
  .basket section .info-size,
  .basket section .confirm .column select, 
  .basket section .confirm .column input,
  .basket .left-confirm div,
  .basket .right-confirm ul li,
	.basket section .payment-options-zone input[type=radio]:checked + label {
    color: #ffffff;
  }

	.basket section .buttons .cancel:hover,
	.basket section .buttons .continue:hover,
	.basket section .price .options .remove:hover {
		background-color: #ff0000;
	}



  #container {
    border-top: 1px solid #ffffff; 
    border-bottom: 1px solid #ffffff;
  }
  header { border-bottom: 5px solid #ffffff; }
  header a img { border-right: 1px solid #ffffff }
  header menu { border-top: 1px solid #ffffff; }
	header menu .types select { border: 1px solid #ffffff; }
  section { border-bottom: 5px solid #ffffff; }
  section article .options { border: 1px solid #ffffff; }
  section article .options .color { border-bottom: 1px solid #ffffff; }
  section article .options .quantity { border-right: 1px solid #ffffff; }
  .basket section .lists { border-bottom: 1px solid #ffffff; }
  /* .basket section .options { border: 1px solid #ffffff; } */
  /* .basket section .options .size { border-top: 1px solid #ffffff; } */
  /* .basket section .options .price { border-top: 1px solid #ffffff; } */
  /*.basket section .options .quantity input { border: 1px solid #ffffff; }
  .basket section .options .size select { border: 1px solid #ffffff; }
  .basket section .info-size { border-top: 1px solid #ffffff; }
  .basket section .confirm .column input, 
  .basket section .confirm .column select { border: 1px solid #ffffff; }
  .basket section .inside { border-top: 1px solid #ffffff; }
  .basket section .inside h3 { border-bottom: 5px solid #ffffff; }
	.basket section .payment-options-zone h3 { border-bottom: 5px solid #ffffff; }
  .basket section .inside section { border: 0; border-bottom: 1px solid #ffffff; }
  .basket section .inside section article { border: 0; border-right: 1px solid #ff0000; border-bottom: 0 solid #ffffff; }
  .basket .right-confirm { border-left: 1px solid #ffffff; }
  .basket section .prices .wrapper .postage { border-bottom: 1px solid #ffffff; }
  section article form { border-top: 1px solid #ffffff; }
  section article .options .quantity input { border: 0; border-left: 1px solid #ffffff; border-bottom: 0 solid #ffffff; }
  section article .options .size select { border: 0; border-left: 1px solid #ffffff; }
  .basket section .prices .wrapper { border-top: 1px solid #ff0000; border-bottom: 1px solid #ffffff; }
  .basket div.more-info { border-bottom: 1px solid #ffffff; }
  .basket section .price .options .remove { border: 1px solid #ffffff; }
	.basket section .payment-options-zone { border-bottom: 1px solid #ffffff; }
	.basket section .payment-options-zone input[type=radio]:checked + label.label-payment-paypal { border-bottom: 1px dashed #ffffff; }
	.basket section .payment-options-zone input[type=radio]:checked + label.label-payment-stripe { border-top: 1px dashed #ffffff; }
	.basket section #card-details { border-top: 1px dashed #ffffff; border-bottom: 1px solid #ffffff; }



  section article .price-and-action .action a,
	.paging ul li a.current,
  .basket section .buttons input.checkout,
  .basket section .buttons input.pay-now {
    background-color: #808080;
  }

	section article .price-and-action .action a:hover,
	.basket section .buttons .pay-now:hover,
	.basket section .buttons .checkout:hover {
		background-color: #ff0000;
	}


	section article .price-and-action .action a,
	#footer .paging ul li a.current,
	.basket section .buttons .pay-now,
	.basket section .buttons .checkout {
		color: #ffffff;
	}

	section article .price-and-action .action a:hover,
	.basket section .buttons .pay-now:hover,
	.basket section .buttons .checkout:hover {
		background-color: #ff0000;
	} */
