@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');

* {
  margin: 0;
  font-family: 'IM Fell English', serif;
}

body, html {
  height: 100%;
  background-color: black;
  color: #FFFEF2;
}

.h2-custom {
  text-align: center;
  letter-spacing: 2px;
  padding-top: 50px;
  text-shadow: 3px 3px 3px gray;
}

/*****************/
/* Landing page styles */
/*****************/

.header {
  padding-top: 25vh;
  letter-spacing: 5px;
  font-size: 60px;
}

.hero-image {
  /* linear-gradient adds a darken background effect to img to make text easier to read*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/StephInRedDressOnSnow.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: right;
  transform: translate(-10%, 10%);
}

/*****************/
/* Landing page cards */
/*****************/

.card {
  flex-wrap: wrap;
  margin-top: 75px;
  margin-bottom: 100px;
  padding: 15px 10px 20px 10px;
  /* padding-top: 15px;
  padding-bottom: 20px; */
  border-radius: 50px 20px 50px 5px;
  background-color: white;
  -moz-box-shadow: 2px 3px 10px 5px gray;
  -webkit-box-shadow: 2px 3px 10px 5px gray;
  box-shadow: 2px 3px 10px 5px gray;
}

.card-title {
  padding-top: 25px;
}

.card-body {
  text-align: center;
  color: black;
}

.card-img-top {
  height: 200px;
  width: auto;
}

.card-btn-style {
  letter-spacing: 3px;
  width: 50px;
}

@media (min-width: 20em) {
  .card-columns {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
      column-gap: 1.25rem;
      orphans: 1;
      widows: 1;
  }
}

@media (min-width: 34em) {
  .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
  }
}

@media (min-width: 48em) {
  .card-columns {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
  }
}

/*****************/
/* Music Page Styles */
/*****************/

#album-holder {
  text-align: center;
}

.grid-item {
  background-color: #440003;
  -moz-box-shadow: 3px 3px 30px 5px gray;
  -webkit-box-shadow: 3px 3px 30px 5px gray;
  box-shadow: 3px 3px 30px 5px gray;
  border-radius: 5%;
  padding: 20px;
  margin-bottom: 50px;
  font-size: 30px;
  text-align: center;
}

/*****************/
/* About Styles */
/*****************/

#bio-box {
  margin: 25px 300px 25px 300px;
  letter-spacing: 1px;
}

#about-box {
  margin: 50px 150px 150px 100px;
  text-align: center;
  letter-spacing: 1px;
  border-radius: 20%;
  background-color: #730217;
}

.about-header {
  font-size: 20px;
  font-weight: bold;
}

.steph-nina-header {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
}

.steph-nina-about-images {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50%;
  height: 250px;
}

.row1-about-images {
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50%;
  height: 150px;
}

.row3-about-images {
  margin-bottom: 20px;
  margin-top: 50px;
  border-radius: 50%;
  height: 150px;
}

.row3 {
  padding-bottom: 50px;
}

/*****************/
/* Bookings Styles */
/*****************/

.album-holder {
  display: flex;
}

#bookings-img {
  float: left;
  margin: 5px;
}

/*****************/
/* Music Styles */
/*****************/

.music-holder {
  padding: 0px 100px;
}

.music-page-grid {
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.music-h4 {
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 3px 3px 3px gray;
}

.music-cards {
  background-color: goldenrod;
}

.music-card-subtitle {
  -moz-text-shadow: 5px 5px 5px gray;
  -webkit-text-shadow: 5px 5px 5px gray;
  text-shadow: 5px 5px 5px gray;
}

.music-card-text {
  -moz-text-shadow: 5px 5px 5px gray;
  -webkit-text-shadow: 5px 5px 5px gray;
  text-shadow: 5px 5px 5px gray;
}