/*----------------------------------------------------------------------------
 *
 * Shared Colors
 *
 *---------------------------------------------------------------------------*/

:root {
  --soft-white: #fffef2; /* soft white */
  --red: #d2053e; /* WCAG compliant red */
  --black: #1d1d1d; /* black */
}
