/*****************/
/* Music Styles */
/*****************/

.music-holder {
  margin: 3em;
  padding: 0 2em;
}

.music-h4 {
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 3px 3px 3px gray;
}

iframe {
  display: block;
  margin: 0 auto;
}

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.10%;
  height: 0;
  overflow: hidden;
}

.iframe-wrapper iframe,
.iframe-wrapper object,
.iframe-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.resp-container {
  position: relative;
  overflow: hidden;
}
